$bg-color: black;
$txt-color: white;
$module-inputs-top: -748px;
$module-inputs-left: 696px;
$resource-inputs-left: 648px;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $bg-color;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: -600px;
  left: $module-inputs-left;
}

.module-input {
  border-radius: 8px;
  position: relative;
  width: 200px;
  font-size: 20px;
  height: 32px;
  top: $module-inputs-top;
  left: $module-inputs-left;
}

.storage-input {
  border-radius: 8px;
  position: relative;
  margin-right: 16px;
  font-size: 16px;
  width: 56px;
  height: 32px;
  top: -700px;
  left: $resource-inputs-left;
}

.maintenance-input {
  border-radius: 8px;
  position: relative;
  margin-right: 16px;
  font-size: 16px;
  width: 56px;
  height: 32px;
  top: -638px;
  left: $resource-inputs-left;
}

.input-input {
  border-radius: 8px;
  position: relative;
  margin-right: 16px;
  font-size: 16px;
  width: 56px;
  height: 32px;
  top: -576px;
  left: $resource-inputs-left;
}

.output-input {
  border-radius: 8px;
  position: relative;
  margin-right: 16px;
  font-size: 16px;
  width: 56px;
  height: 32px;
  top: -514px;
  left: $resource-inputs-left;
}

.grid-snap-input {
  border-radius: 8px;
  position: relative;
  width: 40px;
  font-size: 20px;
  height: 32px;
  top: -348px;
  left: 450px;
}

.save-game-name {
  border-radius: 0px;
  border: 2px solid blueviolet;
  color: limegreen;
  background-color: black;
  position: absolute;
  font-size: 36px;
  height: 48px;
  top: 256px;
}
